<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
</head>
<body>
    <h1>Serviços</h1>
    <nav>
        <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('servicos')}}">Serviços</a></li>
            <li><a href="{{url_for('materiais')}}">Materiais</a></li>
            <li><a href="{{url_for('empresa')}}">Empresa</a></li>
        </ul>
    </nav>
    
</body>
</html>